@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

a,
a:active,
a:hover {
  outline: none;
  text-decoration: none;
  color: #666;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

input {
  outline: none;
}

body,
* {
  font-family: 'Lato', sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 71%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    width: 94%;
  }
}

.header {
  background-color: #222222;
}

.header__wrapper {
  min-height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 41px;
}

.header__button {
  background-color: transparent;
  border: none;
  margin: 0 0 0 33px;
  position: relative;
}

.header__burger-btn {
  padding-top: 4px;
  fill: white;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu-nav {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  font-style: normal;
  color: #222222;
  text-transform: uppercase;
  padding: 37px 33px 12px;
}

.header__menu-close {
  -ms-flex-item-align: right;
      -ms-grid-row-align: right;
      align-self: right;
  margin: 16px;
}

.header__navigation {
  position: absolute;
  right: 0;
  display: none;
  width: 232px;
  min-height: 764px;
  background-color: #FFFFFF;
  outline: #5D5D5D;
}

.header__name {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  text-transform: uppercase;
  padding: 20px 12px 0 33px;
}

.header__items li {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #6F6E6E;
  padding: 11px 0 0 54px;
}

.header__items li-list:focus {
  color: #F16D7F;
}

@media (max-width: 375px) {
  .header__none {
    display: none;
  }
}

.main__header-catalog {
  min-height: 148px;
  background-color: #F8F3F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__catalog-name {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #F16D7F;
}

@media (max-width: 375px) {
  .main__catalog-name {
    text-align: center;
  }
}

.main__catalog-list {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  color: #5D5D5D;
}

.main__catalog-item {
  position: relative;
  padding: 0 10px 0 0;
}

.main__catalog-item::after {
  content: '/';
  position: absolute;
  right: 2px;
}

.main__catalog-transform {
  font-weight: 700;
  color: #F16D7F;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro__heading-box {
  background-color: #F1E4E6;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 60px;
}

@media (max-width: 375px) {
  .intro__heading-box {
    height: 363px;
  }
}

.intro__svg {
  margin-right: 16px;
  width: 12px;
  height: 93;
}

@media (max-width: 375px) {
  .intro__svg {
    height: 61px;
  }
}

.intro__heading {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .intro__heading {
    font-size: 44px;
    line-height: 52px;
    font-weight: 900;
    font-style: normal;
  }
}

@media (max-width: 375px) {
  .intro__heading {
    font-size: 38px;
    line-height: 45px;
    font-weight: 900;
    font-style: normal;
  }
}

.intro__text {
  font-size: 37px;
  line-height: 44px;
  font-weight: 700;
  font-style: normal;
  display: block;
}

@media (max-width: 768px) {
  .intro__text {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    font-style: normal;
  }
}

@media (max-width: 375px) {
  .intro__text {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
  }
}

.intro__pink {
  color: #F16D7F;
}

.intro__img {
  width: 50%;
}

@media (max-width: 375px) {
  .intro__img {
    display: none;
  }
}

.stock__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 96px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .stock__list {
    margin-bottom: 155px;
  }
}

.stock__item {
  width: 31%;
  min-height: 260px;
  margin-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .stock__item {
    margin-top: 20px;
  }
}

@media (max-width: 375px) {
  .stock__item {
    width: 350px;
  }
}

.stock__item--women {
  background-image: url(../img/stock-1.jpg);
}

@media (max-width: 375px) {
  .stock__item--women {
    margin-top: 65px;
  }
}

.stock__item--men {
  background-image: url(../img/stock-2.jpg);
}

.stock__item--kid {
  background-image: url(../img/stock-3.jpg);
}

.stock__item--accesories {
  background-image: url(../img/stock-4.jpg);
  width: 100%;
  min-height: 180px;
}

@media (max-width: 375px) {
  .stock__item--accesories {
    width: 350px;
    height: 111px;
  }
}

.stock__item-heading {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
  text-transform: uppercase;
}

.stock__pink {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  font-style: normal;
  color: #F16D7F;
  text-transform: uppercase;
}

.fetured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fetured__heading {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.fetured__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #9F9F9F;
  text-align: center;
  margin: 0 0 48px;
}

.fetured__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .fetured__list {
    width: 768px;
  }
}

@media (max-width: 375px) {
  .fetured__list {
    width: 375px;
  }
}

.fetured__item {
  width: 360px;
  background-color: #F8F8F8;
  margin: 30px 0 0 10px;
  position: relative;
  margin-right: 20px;
  margin-left: 20px;
}

.fetured__item:hover .fetured__item-over-wrapper {
  display: block;
}

@media (max-width: 768px) {
  .fetured__item {
    margin-left: 0;
  }
}

.fetured__btn {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -200%);
          transform: translate(-50%, -200%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFFFFF;
  border: 1px solid white;
  padding: 13px 14px 16px 13px;
}

.fetured__heading-item {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  padding: 25px 0 13px 18px;
}

.fetured__text-item {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #5D5D5D;
  padding: 0 0 16px 18px;
}

.fetured__price {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  padding: 0 0 20px 18px;
}

.fetured__browse-product {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  padding: 15px 38px;
  background-color: transparent;
  border: 1px solid #F16D7F;
  margin: 49px auto 95px;
}

.fetured__browse-product:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.fetured .fetured__item-over-wrapper {
  display: none;
}

.fetured .overlay {
  width: 360px;
  height: 420px;
  background: rgba(58, 56, 56, 0.86);
  position: absolute;
  top: 0;
}

.fetured .fetured__btn-text {
  padding-left: 13px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.fetured__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0 64px 20px;
}

.fetured__fill {
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  position: relative;
}

.fetured__img {
  position: absolute;
  top: 3px;
  left: 50px;
}

.fetured__fil-details {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #6F6E6E;
  text-transform: uppercase;
  position: absolute;
  left: 42%;
}

.fetured__list-item {
  position: relative;
  margin: 0 48px 0 0;
}

.fetured__list-item::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 5px;
  background-image: url(../img/arrow.png);
  background-size: 10px 5px;
  top: 7px;
  right: -21px;
}

.fetured .pages {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #9F9F9F;
  padding: 15px 38px;
  background-color: transparent;
  border: 1px solid #9F9F9F;
  margin: 49px auto 95px;
  position: relative;
}

.fetured .pages::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 14px;
  background-image: url("../img/arrowBefore.png");
  background-size: 8px 14px;
  top: 19px;
  left: 15px;
}

.fetured .pages::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 14px;
  background-image: url("../img/arrowAfter.png");
  background-size: 8px 14px;
  top: 19px;
  right: 15px;
}

.advantages {
  background-color: #222224;
  min-height: 341px;
}

@media (max-width: 768px) {
  .advantages {
    padding-bottom: 48px;
  }
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  min-height: 341px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .advantages__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .advantages__item {
    margin-top: 48px;
  }
}

.advantages__heading {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
  margin: 25px 0 16px;
}

.advantages__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  width: 300px;
  color: #FBFBFB;
}

.subscribe {
  min-height: 448px;
  background-image: url("../img/subscribe-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .subscribe {
    padding: 53px 0 219px 0;
  }
}

.subscribe__list {
  min-height: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media (max-width: 768px) {
  .subscribe__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.subscribe__face-text {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  width: 350px;
  margin: 40px 0 0;
}

@media (max-width: 768px) {
  .subscribe__face-text {
    margin-bottom: 50px;
  }
}

.subscribe__fitalic {
  font-style: italic;
}

.subscribe__heading {
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.subscribe__text {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  margin: 0 0 32px;
}

.subscribe__input {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  height: 49px;
  padding: 0 64px 0 22px;
  background-color: #E1E1E1;
  border: none;
  border-radius: 20px 0 0 20px;
}

.subscribe__input:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.subscribe__input:hover::-webkit-input-placeholder {
  color: #FFFFFF;
}

.subscribe__input:hover:-ms-input-placeholder {
  color: #FFFFFF;
}

.subscribe__input:hover::-ms-input-placeholder {
  color: #FFFFFF;
}

.subscribe__input:hover::placeholder {
  color: #FFFFFF;
}

.subscribe__button {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  height: 49px;
  padding: 10px 20px;
  margin-left: -3px;
  color: #FFFFFF;
  border: none;
  border-radius: 0 20px 20px 0;
  background-color: #F16D7F;
}

.copyright {
  min-height: 79px;
  background-color: #222224;
}

@media (max-width: 375px) {
  .copyright {
    min-height: 143px;
  }
}

.copyright__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 79px;
}

@media (max-width: 375px) {
  .copyright__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    min-height: 143px;
  }
}

.copyright__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.copyright__item {
  width: 32px;
  height: 32px;
  padding: 9px;
  background-color: #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 7px;
}

.copyright__item:hover .item__svg {
  fill: #FFFFFF;
}

.copyright__item-svg {
  fill: #222222;
}

.copyright__item:hover {
  background-color: #F16D7F;
}

.copyright__text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
}

.main__header-catalog--registration {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 64px;
  margin-bottom: 96px;
}

@media (max-width: 375px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.form__legend {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 10px;
  margin-top: 10px;
}

.form__input {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  width: 360px;
  border: 1px solid #A4A4A4;
  margin: 10px 0 10px 0;
  padding: 17px;
}

@media (max-width: 375px) {
  .form__input {
    width: 316px;
  }
}

.form__input:hover {
  border: 1px solid #F16D7F;
}

.form__input-text {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  color: #9F9F9F;
  width: 360px;
  margin-top: 5px;
}

.form__radio {
  margin: 35px 0;
}

.form__radio-input {
  display: none;
}

.form__radio-label {
  font-size: 13px;
  line-height: 13px;
  font-weight: 300;
  font-style: normal;
  margin: 20px;
  position: relative;
  padding-left: 10px;
}

.form__radio-label:before {
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  border: 1px solid #A4A4A4;
  border-radius: 50%;
  left: -20px;
}

.form__radio-input:checked + .form__radio-label:before {
  /* background-color: $input-grey; */
  background-image: url("../img/esc.png");
  background-size: 16px;
}

.form__submit {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #F16D7F;
  padding: 16px 66px 17px 29px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 39px 0 0 0;
}

.form__submit svg {
  margin-left: 20px;
}

.form__info {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  width: 650px;
}

@media (max-width: 768px) {
  .form__info {
    margin-left: 20px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
  }
}

@media (max-width: 375px) {
  .form__info {
    margin-top: 40px;
    width: 320px;
  }
}

.form__info h2 {
  text-transform: uppercase;
}

.form__info p {
  margin: 22px 0;
}

.form__info-item {
  margin: 0 0 16px 0;
  position: relative;
  padding: 0 0 0 45px;
}

.form__info-item:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 16px;
  background-image: url("../img/check.png");
  background-size: 20px 16px;
  top: 10px;
  left: 0;
}

.main__product {
  background-color: #F7F7F7;
  height: 777px;
}

.product__img {
  text-align: center;
}

.fetured__product {
  margin-bottom: 130px;
  margin-top: 130px;
}

.product {
  width: 1141px;
  height: 601px;
  border: 1px solid #EAEAEA;
  margin-top: -55px;
  background-color: #FFFFFF;
}

.product__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 65px 0 0 0;
}

.product__pink-line {
  margin: 12px 0;
}

.product__collection {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  color: #F16D7F;
}

.product__name {
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  color: #6F6E6E;
  margin: 0 0 50px 0;
}

.product__info {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #6F6E6E;
  width: 555px;
  text-align: center;
}

.product__price {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  color: #F16D7F;
  margin: 33px 0 65px 0;
}

.product__list {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #6F6E6E;
  margin: 65px 0 0 0;
}

.product__list li {
  padding: 0 42px 0 0;
}

.product__btn {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  padding: 15px 38px 15px 80px;
  background-color: transparent;
  border: 1px solid #F16D7F;
  margin: 49px auto 95px;
  position: relative;
}

.product__btn:before {
  content: '';
  position: absolute;
  background-image: url("../img/pink-basket.png");
  width: 26px;
  height: 25px;
  background-size: 26px 25px;
  left: 3px;
  top: 11px;
  margin: 0 23px 0 23px;
}

.product__btn:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 96px;
  margin-bottom: 128px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .cart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cart__img {
  width: 262px;
  height: 306px;
}

@media (max-width: 375px) {
  .cart__img {
    width: 144px;
    height: 201px;
  }
}

.cart__svg-img {
  width: 18px;
  height: 18px;
}

@media (max-width: 375px) {
  .cart__svg-img {
    width: 10px;
    height: 10px;
  }
}

.cart__list {
  width: 652px;
}

@media (max-width: 375px) {
  .cart__list {
    width: 340px;
  }
}

.cart__heading-esc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart__item {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
          filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
}

.form__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input__cart {
  display: block;
}

.cart__button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 72px 0 0 0;
}

.cart__button-list button {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  border: 1px solid #A4A4A4;
  padding: 17px 40px;
}

@media (max-width: 375px) {
  .cart__button-list button {
    font-size: 11px;
    line-height: 14px;
    font-weight: 400;
    font-style: normal;
    margin-left: 10px;
    padding: 10px;
  }
}

.cart__button-list button:hover {
  background-color: #F16D7F;
  border: none;
  color: #FFFFFF;
}

.cart__info {
  width: 390px;
  padding: 22px 22px 52px 32px;
  background-color: #FFFFFF;
}

@media (max-width: 375px) {
  .cart__info {
    padding: 13px 17px 38px 17px;
  }
}

.cart__heading-item {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

.cart__heading-item span {
  display: block;
}

@media (max-width: 375px) {
  .cart__heading-item {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    font-style: normal;
  }
}

.cart__info-list {
  font-size: 22px;
  line-height: 27px;
  font-weight: 400;
  font-style: normal;
  color: #575757;
  margin-top: 42px;
}

@media (max-width: 375px) {
  .cart__info-list {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    font-style: normal;
    margin-top: 20px;
  }
}

.cart__info-list li {
  padding-bottom: 6px;
}

.cart__info-list span {
  color: #F16D7F;
}

.cart__register-list {
  width: 359px;
  margin-left: 40px;
}

@media (max-width: 768px) {
  .cart__register-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 64px;
  }
}

@media (max-width: 375px) {
  .cart__register-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cart__form legend {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  color: #222222;
}

.cart__form input {
  width: 350px;
  height: 44px;
  margin-top: 20px;
  border: 1px solid #A4A4A4;
}

.cart__form input:hover::-webkit-input-placeholder {
  color: #A4A4A4;
}

.cart__form input:hover:-ms-input-placeholder {
  color: #A4A4A4;
}

.cart__form input:hover::-ms-input-placeholder {
  color: #A4A4A4;
}

.cart__form input:hover::placeholder {
  color: #A4A4A4;
}

.cart__form input::-webkit-input-placeholder {
  padding-left: 17px;
}

.cart__form input:-ms-input-placeholder {
  padding-left: 17px;
}

.cart__form input::-ms-input-placeholder {
  padding-left: 17px;
}

.cart__form input::placeholder {
  padding-left: 17px;
}

.cart__form button {
  font-size: 11px;
  line-height: 14px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  border: 1px solid #A4A4A4;
  padding: 10px 15px;
  margin-top: 24px;
}

.cart__form button:hover {
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
  color: #FFFFFF;
}

.total {
  min-height: 215px;
  background-color: #F5F3F3;
  margin-top: 58px;
  padding: 40px;
}

@media (max-width: 768px) {
  .total {
    margin-top: 38px;
    margin-left: 20px;
  }
}

@media (max-width: 375px) {
  .total {
    margin-left: 0;
  }
}

.total__list {
  text-align: right;
}

.total__sub {
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

.total__sub span {
  padding-left: 30px;
}

.total__grand {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  margin-top: 12px;
}

.total__grand span {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  font-style: normal;
  padding-left: 30px;
  color: #F16D7F;
}

.total__line {
  color: #222222;
  margin: 21px 0 17px 0;
}

.total button {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  background-color: #F16D7F;
  color: #FFFFFF;
  padding: 15px 40px;
}

.total button:hover {
  background-color: #F5F3F3;
  color: #F16D7F;
  border: 1px solid #F16D7F;
}
/*# sourceMappingURL=style.css.map */