body,
* {
    font-family: 'Lato', sans-serif;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.container {
    width: 71%;
    margin: 0 auto;

    @include tablets {
        width: 94%;
    }
}