$black-color: #222222;
$black-light-color: #222224;
$black-grey-color: #575757;
$pink-color: #F1E4E6;
$pink-dark-color: #F16D7F;
$ping-grey-color:#F8F3F4;
$white-color: #FFFFFF;
$white-dark-color: #FBFBFB;
$dirty-white: #F7F7F7;
$dirty-dirty-white: #EAEAEA;
$grey-color: #9F9F9F;
$grey-light-color: #F8F8F8;
$grey-dark-color: #5D5D5D;
$grey-grey-color: #E1E1E1;
$grey-opas-color: #6F6E6E;
$input-grey: #A4A4A4;
$dirty-grey: #F5F3F3;
$svg-color: #E8E8E8;