.advantages {
    background-color: $black-light-color;
    min-height: 341px;

    @include tablets {
        padding-bottom: 48px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        text-align: center;
        min-height: 341px;
        align-items: center;

        @include tablets {
            flex-direction: column;
        }
    }

    &__item {
        @include tablets {
            margin-top: 48px;
        }
    }

    &__heading {
        @include font(20px, 24px);
        color: $white-color;
        margin: 25px 0 16px;
    }

    &__text {
        @include font(14px, 17px, 300);
        width: 300px;
        color: $white-dark-color;
    }
}