.cart {
    display: flex;
    margin-top: 96px;
    margin-bottom: 128px;
    justify-content: space-between;

    @include tablets {
        flex-direction: column;
    }
}

.cart__img {
    width: 262px;
    height: 306px;

    @include mobile {
        width: 144px;
        height: 201px;
    }
}

.cart__svg-img {
    width: 18px;
    height: 18px;

    @include mobile {
        width: 10px;
        height: 10px;
    }
}

.cart__list {
    width: 652px;

    @include mobile {
        width: 340px;
    }
}

.cart__heading-esc {
    display: flex;
    justify-content: space-between;
}

.cart__item {
    margin-bottom: 40px;
    display: flex;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
}

.form__cart {
    display: flex;
    flex-direction: column;
}

.input__cart {
    display: block;
}

.cart__button-list {
    display: flex;
    justify-content: space-between;
    margin: 72px 0 0 0;

    & button {
        @include font(14px, 17px, 300);
        text-transform: uppercase;
        border: 1px solid $input-grey;
        padding: 17px 40px;

        @include mobile {
            @include font (11px, 14px);
            margin-left: 10px;
            padding: 10px;
        }
    }

    & button:hover {
        background-color: $pink-dark-color;
        border: none;
        color: $white-color;
    }
}

.cart__info {
    width: 390px;
    padding: 22px 22px 52px 32px;
    background-color: $white-color;

    @include mobile {
        padding: 13px 17px 38px 17px;
    }
}

.cart__heading-item {
    @include font (24px, 29px);
    text-transform: uppercase;

    & span {
        display: block;
    }

    @include mobile {
        @include font (16px, 19px)
    }
}

.cart__info-list {
    @include font(22px, 27px);
    color: $black-grey-color;
    margin-top: 42px;

    @include mobile {
        @include font (14px, 17px);
        margin-top: 20px;
    }

    & li {
        padding-bottom: 6px;
    }

    span {
        color: $pink-dark-color;
    }
}

.cart__register-list {
    width: 359px;
    margin-left: 40px;

    @include tablets {
        display: flex;
        margin-top: 64px;
    }

    @include mobile {
        flex-direction: column;
    }
}

.cart__form {
    legend {
        @include font(16px, 19px, 300);
        text-transform: uppercase;
        color: $black-color;
    }

    input {
        width: 350px;
        height: 44px;
        margin-top: 20px;
        border: 1px solid $input-grey;

        &:hover::placeholder {
            color: $input-grey;
        }

        &::placeholder {
            padding-left: 17px;
        }
    }

    button {
        @include font (11px, 14px, 300);
        text-transform: uppercase;
        border: 1px solid $input-grey;
        padding: 10px 15px;
        margin-top: 24px;

        &:hover {
            background-color: $pink-dark-color;
            border: 1px solid $pink-dark-color;
            color: $white-color;
        }
    }
}

.total {
    min-height: 215px;
    background-color: $dirty-grey;
    margin-top: 58px;
    padding: 40px;

    @include tablets {
        margin-top: 38px;
        margin-left: 20px;
    }

    @include mobile {
        margin-left: 0;
    }

    &__list {
        text-align: right;
    }

    &__sub {
        @include font (11px, 13px);
        text-transform: uppercase;

        & span {
            padding-left: 30px;
        }
    }

    &__grand {
        @include font (16px, 19px, 300);
        text-transform: uppercase;
        margin-top: 12px;

        & span {
            @include font (16px, 19px, 700);
            padding-left: 30px;
            color: $pink-dark-color;
        }
    }

    &__line {
        color: $black-color;
        margin: 21px 0 17px 0;
    }

    & button {
        @include font (16px, 19px, 300);
        text-transform: uppercase;
        background-color: $pink-dark-color;
        color: $white-color;
        padding: 15px 40px;

        &:hover {
            background-color: $dirty-grey;
            color: $pink-dark-color;
            border: 1px solid $pink-dark-color;
        }
    }

}