.main__header-catalog--registration {
    justify-content: start;
}

.form {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
    margin-bottom: 96px;

    @include mobile {
        flex-direction: column;
    }
}

.form__legend {
    @include font(16px, 19px, 300);
    margin-bottom: 10px;
    margin-top: 10px;
}

.form__input {
    @include font(13px, 16px, 300);
    width: 360px;
    border: 1px solid $input-grey;
    margin: 10px 0 10px 0;
    padding: 17px;

    @include mobile {
        width: 316px;
    }

    &:hover {
        border: 1px solid $pink-dark-color;
    }
}

.form__input-text {
    @include font(13px, 16px, 300);
    color: $grey-color;
    width: 360px;
    margin-top: 5px;
}

.form__radio {
    margin: 35px 0;
}

.form__radio-input {
    display: none;
}

.form__radio-label {
    @include font(13px, 13px, 300);
    margin: 20px;
    position: relative;
    padding-left: 10px;

    &:before {
        position: absolute;
        content: '';
        width: 15px;
        height: 15px;
        border: 1px solid $input-grey;
        border-radius: 50%;
        left: -20px;
    }

    // &:before:hover {
    //     border: 1px solid $pink-dark-color;
    // }
}


.form__radio-input:checked+.form__radio-label:before {
    /* background-color: $input-grey; */
    background-image: url('../img/esc.png');
    background-size: 16px;

}

.form__submit {
    @include font(14px, 17px);
    text-transform: uppercase;
    color: $white-color;
    background-color: $pink-dark-color;
    padding: 16px 66px 17px 29px;
    box-sizing: border-box;
    margin: 39px 0 0 0;


    & svg {
        margin-left: 20px;
    }
}


.form__info {
    @include font(24px, 29px, 300);
    width: 650px;

    @include tablets {
        margin-left: 20px;
        @include font(16px, 19px, 300);
    }

    @include mobile {
        margin-top: 40px;
        width: 320px;
    }

    & h2 {
        text-transform: uppercase;
    }

    & p {
        margin: 22px 0;
    }
}

.form__info-item {
    margin: 0 0 16px 0;
    position: relative;
    padding: 0 0 0 45px;

    &:before {
        content: '';
        position: absolute;
        width: 20px;
        height: 16px;
        background-image: url('../img/check.png');
        background-size: 20px 16px;
        top: 10px;
        left: 0;
    }
}