.stock__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 96px;
    justify-content: space-between;

    @include tablets {
        margin-bottom: 155px;
    }
}

.stock__item {
    width: 31%;
    min-height: 260px;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;

    @include tablets {
        margin-top: 20px;
    }

    @include mobile {
        width: 350px;
    }

    &--women {
        background-image: url(../img/stock-1.jpg);

        @include mobile {
            margin-top: 65px;
        }
    }

    &--men {
        background-image: url(../img/stock-2.jpg);

    }

    &--kid {
        background-image: url(../img/stock-3.jpg);
    }

    &--accesories {
        background-image: url(../img/stock-4.jpg);
        width: 100%;
        min-height: 180px;

        @include mobile {
            width: 350px;
            height: 111px;
        }
    }

    &-heading {
        @include font(16px, 19px);
        color: $white-color;
        text-transform: uppercase;
    }
}

.stock__pink {
    @include font(24px, 29px, 700);
    color: $pink-dark-color;
    text-transform: uppercase;
}